# Eclipse
.metadata/
.mvn/
.classpath
.project
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache

# Maven
target/
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log