<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <footer>
        <div class="footer-container">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6 col-lg-3">
                        <h3 class="mb-4">Lovely Facts:</h3>
                        <p>"There is no love sincerer than the love of food." </p>
                        <p>"Humor keeps us alive. Humor and food. Don't forget food. You can go a week without
                            laughing."</p>
                        <ul class="footer-widget">
                            <li><a href="#"><i class="fab fa-facebook-f fa-lg" style="color:white"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram fa-lg" style="color:white"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter fa-lg" style="color:white"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h3 class="mb-4">Opening Hours</h3>
                        <span>Everyday</span>
                        <span>8:00 - 23:30</span>
                        <ul>
                            <li>
                                <h4>Lunch</h4>
                                <span>11:00 - 1:30</span>
                            </li>
                            <li>
                                <h4>Dinner</h4>
                                <span>7:30 - 10:00</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h3 class="mb-4">Instagram</h3>
                        <div class="footer-insta">
                            <a href="#"><img th:src="@{/images/instagram/insta-1.jpg}" alt="instagram-pic"
                                    class="instagram-pic"></a>
                            <a href="#"><img th:src="@{/images/instagram/insta-2.jpg}" alt="instagram-pic"
                                    class="instagram-pic"></a>
                            <a href="#"><img th:src="@{/images/instagram/insta-3.jpg}" alt="instagram-pic"
                                    class="instagram-pic"></a>
                        </div>
                        <div class="footer-insta">
                            <a href="#"><img th:src="@{/images/instagram/insta-4.jpg}" alt="instagram-pic"
                                    class="instagram-pic"></a>
                            <a href="#"><img th:src="@{/images/instagram/insta-5.jpg}" alt="instagram-pic"
                                    class="instagram-pic"></a>
                            <a href="#"><img th:src="@{/images/instagram/insta-6.jpg}" alt="instagram-pic"
                                    class="instagram-pic"></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h3 class="mb-4">Newsletter</h3>
                        <p>Stay in touch with us</p>
                        <form th:action="@{/subscribe}" method="POST" class="subscribe-form">
                            <div class="form-group">
                                <input type="text" name="email" class="form-control mb-2 text-center"
                                    placeholder="Enter email address">
                                <input type="submit" value="Subscribe" class="form-control submit px-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>