<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <header>
            <a th:href="@{/}">
                <img th:src="@{/images/logo.svg}" alt="logo" class="logo">
            </a>
            <nav>
                <a href="#" class="hide-desktop">
                    <i class="fa fa-bars fa-lg" id="menu" style="color: #000;"> </i>
                </a>
                <ul class="show-desktop" id="nav">
                    <li id="exit" class="exit-btn hide-desktop">
                        <i class="fa fa-bars fa-2x" style="color: white;"></i>
                    </li>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/staff}">Staffs</a></li>
                    <li><a th:href="@{/menu}">Menu</a></li>
                    <li><a th:href="@{/about}">About</a></li>
                    <li><a th:href="@{/contact}">Contact</a></li>
                </ul>
            </nav>
        </header>
    </div>
</div>