<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/public-head :: head('Staff - FlyHigh Restaurant')}"></head>

<body>
    <div th:replace="~{fragments/public-header :: header}"></div>

    <section class="chef-quote section-gap-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="offset-lg-1 col-lg-6 col-md-6">
                    <div>
                        <img th:src="@{/images/employees/c0.jpg}" alt="head chef" class="headchef-img">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="relative">
                        <h1>Chef's Quote</h1>
                        <p>I tell a student that the most important class you can take is technique. A great chef is
                            first a great technician. 'If you are a jeweler, or a surgeon or a cook, you have to know
                            the trade in your hand. You have to learn the process. You learn it through endless
                            repetition until it belongs to you. And when it finally belongs to you, finding the
                            happiness and finding the satisfaction and finding fulfillment in watching people eat your
                            food with happiness in their face, is what makes you a true chef.</p>
                        <span class="mb-2">Head Chef</span>
                        <h3>Ziz</h3>
                        <img th:src="@{/images/employees/signature.png}" alt="sign" class="sign-img">
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="section-gap-top aos-init aos-animate">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-12 text-center">
                    <h2>Others</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5" th:each="person : ${others}">
                    <div class="staff">
                        <img th:src="@{'/images/' + ${person.imagePath}}" class="chef-img" alt="staff picture">
                    </div>
                    <div class="pt-4">
                        <h3 th:text="${person.name}">Ally</h3>
                        <span class="mb-2" th:text="${person.role}">Waiter</span>
                        <ul class="employee-social">
                            <li>
                                <a th:href="${person.facebookUrl}">
                                    <i class="fab fa-facebook-f fa-lg" style="color:#000"></i>
                                </a>
                            </li>
                            <li>
                                <a th:href="${person.instagramUrl}">
                                    <i class="fab fa-instagram fa-lg" style="color:#000"></i>
                                </a>
                            </li>
                            <li>
                                <a th:href="${person.twitterUrl}">
                                    <i class="fab fa-twitter fa-lg" style="color:#000"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="~{fragments/public-footer :: footer}"></div>
    <div th:replace="~{fragments/public-scripts :: scripts}"></div>
</body>

</html>